
@font-face {
  font-family: 'BebasNeue';
  src: url('../public//BebasNeue/BebasNeue-Regular.ttf');
  font-weight: 500;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
