
@font-face {
  font-family: 'BebasNeue';
  src: url('../public//BebasNeue/BebasNeue-Regular.ttf');
  font-weight: 500;
}

.row {
    margin-left: 20px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 22px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    cursor: pointer;
    object-fit: contain;
    width: 100vw;
    max-height: 130px;
    transition: transform 450ms;
    margin-right: 10px;
    opacity: 0.9;
}

.row__poster:hover {
    transform: scale(1.08);
}

.__title {
    font-size: 1.5rem;
    font-family: "Nunito, sans-serif";
    justify-content: center;
    display: flex;
    color: #ffff;
    font-weight: 700;
}

.row__posterLarge {
    max-height: 250px;
}

.row__posterLarge:hover {
    transform: scale(1.10);
    opacity: 1;
}
